{% extends "AppBundle:Budget:layout.html.twig" %}


{% block content %}
<h1>ADD BUDGET</h1>

<p>{{ message }}</p>
<p>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
</p>
{% endblock %}